<div class="flex justify-content-between">
    <h1>Gestion de Usuarios</h1>
    <p-button label="Agregar" icon="pi pi-plus" (onClick)="showDialog()"></p-button>
</div>

<p-table [value]="usuarios" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Email</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Pertenencias</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuarios>
        <tr>
            <td>{{usuarios.email}}</td>
            <td>{{usuarios.id}}</td>
            <td>{{usuarios.nombre}}</td>
            <td><button pButton pRipple type="button" icon="pi pi-eye"
                    class="p-button-rounded p-button-outlined" (click)="mostrarPertenencias(usuarios.id)"></button></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Agregar Usuario" [(visible)]="displayBasic" [style]="{width:
    '50vw'}" [modal]="true">
    <form [formGroup]="form">
        <div class="card">
            <div class="field">
                <label for="email">Email</label>
                <input id="email" type="text" class="text-base text-color
                    surface-overlay p-2 border-1 border-solid surface-border
                    border-round appearance-none outline-none
                    focus:border-primary w-full" formControlName="email">
            </div>
            <div class="field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="text-base text-color
                    surface-overlay p-2 border-1 border-solid surface-border
                    border-round appearance-none outline-none
                    focus:border-primary w-full" formControlName="nombre">
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" label="Guardar"
            styleClass="p-button-text" type="submit" (onClick)="crearUsuario()" ></p-button>
    </ng-template>
</p-dialog>